<div class="margin">
  <mat-icon class="cursor" (click)="backClicked()">arrow_back</mat-icon>
</div>

<div class="margin-top">
  <mat-card class="example-card">
    <div>
      <mat-card-header>
        <img mat-card-avatar [src]="data.avatar" />
        <mat-card-title>{{ data.name }}</mat-card-title>
        <mat-card-subtitle>{{ data.userName }}</mat-card-subtitle>
      </mat-card-header>
      <img
        class="image-size"
        mat-card-image
        [src]="data.img"
        alt="Photo of a Shiba Inu"
        height="400"
      />
      <mat-card-content>
        <h3 class="text">Description:</h3>
        <p *ngIf="data.description">
          {{ data.description }}
        </p>
        <p *ngIf="!data.description">
          {{ defaultDescription }}
        </p>
      </mat-card-content>
    </div>
    <mat-card-actions>
      <button
        (click)="updateLikeStatus()"
        *ngIf="data.like"
        mat-icon-button
        color="warn"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button (click)="updateLikeStatus()" *ngIf="!data.like" mat-icon-button>
        <mat-icon class="heart-color">favorite_border</mat-icon>
      </button>
      <button (click)="openEditDialog()" mat-raised-button color="primary">
        EDIT
      </button>
      <button (click)="deleteRecord(data.id)" mat-raised-button color="warn">
        DELETE
      </button>
    </mat-card-actions>
  </mat-card>
</div>
