<div class="margin">
  <mat-icon class="cursor" (click)="goToPreviousPage()">arrow_back</mat-icon>
</div>

<div class="form-center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title class="mb-4">Form Validations</mat-card-title>
    </mat-card-header>

    <form
      [formGroup]="form"
      name="form"
      class="example-form"
      (ngSubmit)="submitForm()"
    >
      <mat-card-content>
        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput formControlName="name" required placeholder="Name" />
          <mat-error *ngIf="form.get('name').hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <input
            matInput
            formControlName="email"
            required
            placeholder="Email"
          />
          <mat-error *ngIf="form.get('email').hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>

        <div class="example-full-width flexing">
          <mat-form-field appearance="fill">
            <input
              matInput
              formControlName="phone_no"
              placeholder="Phone number"
              required
            />
            <mat-error *ngIf="form.get('phone_no').hasError('required')">
              Phone Number is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('date').hasError('required')">
              Date is required
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="example-full-width" appearance="fill">
          <textarea
            matInput
            rows="2"
            formControlName="street_address"
            placeholder="Address"
            required
          ></textarea>
          <mat-error *ngIf="form.get('street_address').hasError('required')">
            Address is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput formControlName="city" required placeholder="City" />
          <mat-error *ngIf="form.get('city').hasError('required')">
            City is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <input
            matInput
            formControlName="state"
            required
            placeholder="State"
          />
          <mat-error *ngIf="form.get('state').hasError('required')">
            State is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <input
            matInput
            formControlName="zipcode"
            required
            placeholder="Zipcode"
          />
          <mat-error *ngIf="form.get('zipcode').hasError('required')">
            Zipcode is required
          </mat-error>
        </mat-form-field>

        <div [class]="!form.valid ? 'disable-button-center' : 'button-center'">
          <button
            mat-raised-button
            type="submit"
            [disabled]="!form.valid"
            [class]="!form.valid ? 'disable-primary-color' : 'primary-color'"
          >
            Submit
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
