<div class="login-wrapper">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput type="text" placeholder="Username" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput type="password" placeholder="Password" />
        </mat-form-field>
      </mat-card-content>
      <div class="button">
        <button mat-raised-button class="color">Log in</button>
        <a class="text-color" routerLink="/signup">click here to signup</a>
      </div>
    </form>
  </mat-card>
</div>
